
<form action = "/links" method = "post">
	<label name = "title">Title: <input name = "title"/></label>
	<label name = "url">Url: <input name = "url" /></label>
	<label name = "tags">Url: <input name = "tags" /></label>
	<button>Create Link</button>
</form>
