<ul id="links">
	<% @links.each do |link| %>
		<li>
			<a href=<%= link.url %>><%= link.title %></a> -
			<% link.tags.each do |tag| %>
				<a href = "/<%= tag.name %>" > <%= tag.name %> </a></li>
			<% end %>
	<% end %>
</ul>
