
<form action = "/links" method = "post">
	<label name = "title">Title: <input name = "title"/></label>
	<label name = "url">Url: <input name = "url" /></label>
		<select name = "tag" id="select">
		 <option value="news">News</option>
		 <option value="fun">Fun</option>
		 <option value="cats">Cats</option>
		 <option value="music">Music</option>
		</select>
	<button>Create Link</button>
</form>
