<ul id="links">
	<% @links.each do |link| %>
		<li>
			<a href=<%= link.url %>><%= link.title %></a> -
			<% link.tags.each do |tag| %>
				<a href = "/tags/<%= tag.name %>" > <%= tag.name %> </a></li>
			<% end %>
	<% end %>
</ul>

<form action = "/" method = "get">
	<button>Create a new Link</button>
</form>
